.App {
  text-align: center;
}
/* ------------------------ Home ------------------------ */
html{
  overflow: hidden;
}
header{
  background: #41957a;;
  display: flex;
  justify-content: space-between;
}
.link-register,.link-login,.title-link{
  text-decoration-line: none;
  color: white;
}
.link-register,.link-login{
  padding: 2rem;
  font-size: 25px;
}
.link-item{
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-link{
  font-size: 3em;
  padding: 1rem;
}
/* .container{
  height: 50rem;
} */

.leaflet-container{
  margin: auto;
  width: 85%;
  height: 40rem;
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  margin-top: 3rem;
  background: #41957a;;
  padding: 22px;
  color: white;

}
/*---------------------------------------------------------*/
/* --------------------- Register ------------------------ */
.container-form-register{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}
.title-form{
  font-size: 3em;
  margin: 30px;
}
.title-block{
  display: flex;
  justify-content: center;
}
.rectangle-gauche,.rectangle-droit{
  border-bottom: 1px solid #A5A5A5;
}
.form-register{
  width: 50rem;
  border-radius: 8px;
  border: 1px solid #A5A5A5;
}
.form-register div{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}
.input-pseudo,.input-firstname,.input-lastname,.input-email,.input-password,.input-confirm-password{
  margin: 20px 0;
}
input{
  width: 75%;
  height: 2rem;
  border-radius: 8px;
  border: 1px solid #A5A5A5;
  color: #41957a;;
}
.link-register-login{
  padding-bottom: 2rem;
}
.btn-submit{
  background: #41957a;;
  color: white;
  width: 30%;
  border: none;
}
.input-submit{
  padding-bottom: 1rem;
}
/*---------------------------------------------------------*/

.container-form-login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
  padding-bottom: 6rem;
}
/*---------------------- choice-role ----------------------*/
.choice-role{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 49rem;
  /* padding:  10rem; */
}
.choice-role > a {
  text-decoration:none;
  background: #41957a;
  padding: 10rem;
  color: white;
}

/*---------------------------------------------------------*/

/*------------------------- Course ------------------------*/

.container-course{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 2rem;
  height: 45rem;
}

.block-create-course > h2{
  margin: 0;
  padding-top: 2rem;
}
.block-create-course{
  padding: 3rem;
}
.input-name-course,.input-btn-course,.input-display-course{
  padding-top:1rem;
}
.input-btn-course{
  width: 50%;
  margin: auto;
}
.input-display-course{
  width: 12rem;
  display: flex;
  justify-content: center;
}
.input-display-course > input,.input-btn-course > input{
  background: #41957a;
  color: white;
  border: none;
}

.Course-name{
  background: rgb(209, 209, 209);
  border: 1px solid rgb(219, 219, 219);
  border-radius: 1rem;
  padding: 1rem;
}
/*---------------------------------------------------------*/

/* mobile and tablette */
@media screen and (min-width: 770px) and (max-width: 1024px) {
  html{
    overflow:scroll;
  }
  .form-register{
    width: 40rem;
  }
  footer{
    display: none;
  }
}
@media screen and (min-width: 410px) and (max-width: 770px) {
  html{
    overflow:scroll;
  }
  header{
    flex-direction: column;
  }
  .container{
    height: 50rem;
  }
  .leaflet-container{
    height: 35rem;
  }
  .container-course{
    flex-direction: column;
  }
  .block-create-course{
    padding-top: 0;
    width: 70%;
  }
  .block-create-course > h2{
    padding-top:0;
  }
  .input-btn-course,.input-display-course{
    width: 100%;
    margin: auto;
  }
  .choice-role{
    flex-direction: column;
  }
  .form-register{
    width: 30rem;
  }
  footer{
    display: none;
  }

}
@media screen and (min-width: 410px) and (max-width: 540px) {
  html{
    overflow:scroll;
  }
  .form-register{
    width: 23rem;
  }
  header{
    flex-direction: column;
  }
  .choice-role{
    flex-direction: column;
  }
  .choice-role>a{
    padding: 7rem;
  }
}
@media screen and (min-width: 200px) and (max-width: 410px) {
  html{
    overflow:scroll;
  }
  header{
    flex-direction: column;
  }
  .container-course{
    flex-direction: column;
  }
  .block-create-course > h2{
    padding-top:0;
  }
  .form-register{
    width: 20rem;
  }
  .choice-role{
    flex-direction: column;
  }
  .choice-role>a{
    padding: 7rem;
  }
  footer{
    display: none;
  }
}